@import "../../index.scss";

.home {
    position: absolute;
    top: 80px;
    left: 120px;
    height: 100%;
    width: 88vw;

    @include xtra-large {
        width: 92vw;
    }

    .hero {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50vh;
        gap: 50px;

        .hero_left {
            padding: 50px;
            background-color: $main-blue;
            width: min(65%, 1024px);
            height: 100%;
            border-radius: 40px;
            position: relative;
            display: flex;
            justify-content: space-between;
            overflow: hidden;

            >div {
                display: flex;
                align-items: center;
                justify-content: center;

                &:nth-of-type(1) {
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    min-width: 50%;

                    >span {
                        text-transform: capitalize;
                        font-size: clamp(.75rem, 1vw, 1rem);

                        &:nth-of-type(2) {
                            display: flex;
                            align-items: stretch;
                            width: 70%;

                            img {
                                width: inherit;
                            }
                        }
                    }

                    >div {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        span {
                            font-size: clamp(2.1875rem, 2vw, 3.5rem);
                            font-weight: 700;
                            text-transform: capitalize;
                        }

                        p {
                            font-size: clamp(.875rem, 1vw, 3.5rem);
                        }
                    }
                }

                &:nth-of-type(2) {
                    position: absolute;
                    height: 100%;
                    right: 0;
                    bottom: 0;

                    span {
                        position: absolute;
                        right: 0;
                        height: 100%;
                        display: flex;
                        align-items: stretch;
                        justify-content: center;
                    }
                }
            }
        }

        .hero_right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            width: min(40%, 650px);
            height: 80%;

            h2 {
                text-transform: capitalize;
                font-size: 24px;
                font-weight: 700;
            }

            .chart {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                height: min(300px, 80%);

                .song_container {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    border-radius: 20px;
                    background-color: $nav-icon-background;
                    height: 50%;

                    .song_image {
                        height: 60px;
                        width: 60px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .song_info {
                        margin-right: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 3px;

                        p {
                            text-transform: capitalize;
                            transition: all ease .25s;

                            &:nth-of-type(1) {
                                font-size: clamp(1.0625rem, 1vw, 1.5rem);

                                &:hover {
                                    color: $blue-text-color;
                                    cursor: pointer;
                                }
                            }

                            &:nth-of-type(2) {
                                font-size: clamp(.75rem, 1vw, 1.5rem);
                                color: $dark-text-color;

                                &:hover {
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }

                            &:nth-of-type(3) {
                                display: flex;
                                gap: 2px;
                                align-items: center;
                                font-size: clamp(.75rem, .7vw, 1rem);

                                span {
                                    font-size: inherit;
                                }
                            }

                        }
                    }

                    .song_fav {
                        border: 1px solid rgb(255, 255, 255, .11);
                        border-radius: 50%;
                        height: 35px;
                        width: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: all ease .25s;

                        &:hover {
                            background-color: rgb(96, 158, 175, .5);
                        }

                        img {
                            max-width: 60%;
                        }
                    }
                }
            }
        }

    }
}