@import "../../index.scss";

.side_nav {
    position: fixed;
    height: 70vh;
    width: 100px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    >div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        border-radius: 50px;
        background-color: $nav-icon-background;

        .link {
            transition: all ease-in-out .15s;
            cursor: pointer;

            &:hover {
                transform: scale(1.25);

                svg>path {
                    fill: #FACD66;
                }
            }
        }
    }
}